<div class="home">
    <h1>Demo</h1>
    <ul>
        <li>
            <a ui-sref="gallery">gallery</a>
        </li>
        <li>
            <a ui-sref="box">box</a>
        </li>
        <li>
            <a ui-sref="timer">timer</a>
        </li>
        <li>
            <a ui-sref="canvas">canvas</a>
        </li>
        <li>
            <a ui-sref="fan">fan</a>
        </li>
        <li>
            <a ui-sref="paint">paint</a>
        </li>
        <li>
            <a ui-sref="test">test</a>
        </li>
    </ul>
</div>
